/* === IMPORTAÇÃO DE FONTES */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');
/*
Follow - font-family: "Fredoka", sans-serif;
Medu - Oswald
*/
/* ==========================*/

/* ==== FORMATAÇÃO GERAL === */
html{
    font-size: clamp(1rem, 2vw + 0.8rem, 3rem);
    font-family: "Epilogue", sans-serif;
}
h1{
    font-family: "Nunito", sans-serif;
}
h2,h3,h4,h5,h6{
    font-family: "Oswald", sans-serif;
}
header ul li {
  text-align: center;
  padding: 6vw 0vw 0vw 0vw;
}
header ul li {
    font-size: 0.5rem;
    margin: 5px;
}
header h1 {
    text-align: center;
}

.Contact {
 color: white !important;
    background-color: #FFC222;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}
/* menu */

.menu {
    text-align: center;
    background-color: #F5F8FD 
}

.explorar {
    color: rgb(239, 238, 238) !important;
    padding: 5px 25px 5px 25px;
    border-radius: 50px;
    background-color: #ED274B
}

.menu h1 {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 15px;
}
.menu p {
    font-weight: 200;
    font-size: 0.5rem;
    padding: 5px 5px 20px;
}

/* MEDIA QUERY - DESKTOP */
@media screen and (min-width: 600px) {
header {
    display: flex;
justify-content: space-between;
align-items: center;
}
header nav ul {
    display: flex;
}
header nav ul li {
    font-size: 0.5rem;
    padding: 0vw;
    margin: 2vw;
    font-weight: 600;
}
.menu h1 p h3 {
;
}



}